<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">

		<div class="starter-template">
			<h1>Bootstrap starter template</h1>
			<p class="lead">
				Use this document as a way to quickly start any new project.<br />
				All you get is this text and a mostly barebones HTML document.
			</p>
		</div>

	</div>
	<!-- /.container -->
	<div th:replace="common/header :: before-body-script"></div>
</body>
</html>
